@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");
:root {
  --background-color: #f1f5f9;
  --primary-color: #624bff;
  --secondary-color: #212b36;
  --background-white: #ffffff;
  --font-family: "Montserrat", sans-serif;
  --h2-size: 32px;
  --h3-size: 24px;
  --h4-size: 16px;
  --link-size: 20px;
  --regular-weight: 400;
  --medium-weight: 600;
  --heavy-weight: 700;
  --shadow-box: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: minmax(200px, auto) 1fr / minmax(200px, 1fr) 3fr;
  background: var(--background-color);
  font-family: var(--font-family);
}

.sidebar-nav {
  background: var(--secondary-color);
  grid-area: 1 / 1 / 3 / 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-nav li {
  font-size: var(--link-size);
  font-weight: var(--medium-weight);
  color: var(--background-color);
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  font-size: var(--h2-size);
  color: var(--background-color);
  font-weight: var(--heavy-weight);
}

.header-bar {
  background: var(--primary-color);
  grid-area: 1 / 2 / 2 / 3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
  :focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
}

.account {
  display: flex;
  align-items: center;
  gap: 15px;
}

.account strong {
  font-weight: var(--heavy-weight);
}

.welcome {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcome strong,
.welcome h3 {
  font-weight: var(--heavy-weight);
}

.welcome h3 {
  font-size: var(--h3-size);
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
  :hover {
    transform: translateY(-2px);
  }
}

.content-grid {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: 1fr / 3fr 1fr;
}

.primary-content-grid {
  padding: 25px;
}

.primary-content-grid h2 {
  font-size: var(--h2-size);
  color: var(--secondary-color);
  font-weight: var(--heavy-weight);
  margin-bottom: 20px;
}

.primary-content-grid > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.primary-item {
  min-width: 300px;
  padding: 20px;
  background: var(--background-white);
  border-radius: 20px;
  box-shadow: var(--shadow-box);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.primary-item div {
  display: flex;
  gap: 20px;
  justify-content: right;
}

.primary-item h3 {
  font-size: var(--h3-size);
  font-weight: var(--medium-weight);
}

.secondary-content-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
}

.secondary-item > div {
  background-color: var(--background-white);
  box-shadow: var(--shadow-box);
  padding: 20px;
  border-radius: 20px;
}

.secondary-item h2 {
  font-size: var(--h2-size);
  color: var(--secondary-color);
  font-weight: var(--heavy-weight);
  margin-bottom: 20px;
}

.secondary-item h4 {
  font-size: var(--h4-size);
  color: var(--secondary-color);
  font-weight: var(--medium-weight);
  margin-bottom: 10px;
}

.secondary-item p {
  font-size: 12px;
}

.secondary-item hr {
  border: 1px var(--background-color) solid;
}

.secondary-item > div > div {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.secondary-item > div > div:nth-child(n):not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .content-grid {
    grid-template-columns: 1fr;
  }

  .row-1 {
    margin-bottom: 5px;
  }

  .row-1,
  .row-2 {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .primary-content-grid > div {
    grid-template-columns: 1fr;
  }
}
